body {
    font-size: 16px;
    color: #fff;
    background-color: #61d4b3;
    font-family: 'Josefin Slab', serif;
}

#header-nav {
    background-color: #fdd365;
    border: 0;
    font-family: 'Josefin Slab', serif;
}

.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #61d4b3;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    padding-top: 25px;
  }
  
  .navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7rem;
    margin-top: 15px;
  }
  
  .navbar-brand p span {
    vertical-align: middle;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  
  #nav-list a {
    color: #61d4b3;
    text-align: center;
  }
  
  #nav-list a:hover {
    background-color: #e7e7e7;
    text-decoration: none;
  }
  
  #nav-list a i, #nav-list a span {
    font-size: 1.8rem;
    margin-right: 5px;
  }

  #header-nav button.navbar-toggler {
    border: 1px solid #61d4b3;
    clear: both;
    margin-top: -30px;
  }


@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand {
    padding-top: 10px;
    height: 90px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p {
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img {
    height: 20px;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a i {
    font-size: 1em;
    margin-right: 5px;
  }

@media (max-width: 767px) {
    .navbar-brand {
      padding-top: 10px;
      height: 90px;
    }
    .navbar-brand h1 {
      padding-top: 10px;
      font-size: 5vw;
    }
    .navbar-brand p {
      font-size: .6em;
      margin-top: 12px;
    }
    .navbar-brand p img {
      height: 20px;
    }
    #collapsable-nav a {
      font-size: 1.2em;
    }
    #collapsable-nav a i {
      font-size: 1em;
      margin-right: 5px;
    }
